build-essential
pkg-config
python-dev
python3-pip
tmux
python-neovim
python3-neovim
redshift
cmake
curl
#
#ignore all the comments after this line please
#Start using apt-get build-dep ...to install all dependencies for the "source code package" !
#this is depian specific!
#mainly for matplotlib dependencies on debian [build-dep means "As root, install all dependencies for the package" by Kleist@stackexchange]
#the first line is not a package but it will make *.sh start using apt-get build-dep 
#build-dep
